  /* Start of In Use */


/*inner container*/
div.container-2 {
  margin-left: 0px;
  background-color: white;
  font-size: 10px;
  width: 100%;
  height: fit-content;
} /* controls 
piece list container */


/*dropzone*/
.container-4 {
  margin-left: 60px;
  margin-bottom: 60px;
  padding: 20px;
} /* controls 
boarder around dropzone */


h5 {
  margin-left: 120px; /* align w/ container-4 */
  margin-top: 50px;
  font-family: sans-serif;
  font-size: 16px;
  color: #191847;
}

/*inner container*/
div.container-2 {
  margin-left: 0px;
  background-color: white;
  font-size: 10px;
  width: 100%;
  height: fit-content;
} /* controls 
piece list container */

.form-border {} /*border for dropzone*/


/*dropzone*/
.container-4 {
  margin-left: 60px;
  margin-bottom: 60px;
  padding: 20px;
} /* controls 
boarder around dropzone */


h5 {
  margin-left: 120px; /* align w/ container-4 */
  margin-top: 50px;
  font-family: sans-serif;
  font-size: 16px;
  color: #191847;
}



.dz {
height: 300px;
border: 2px solid !important;
border-color: #116CD4 !important;
border-radius: 10px !important;
} /*controls dropzone area */

.dz:hover {
background-color: aliceblue !important;
}

.dz-preview {} /*controls container around thumbnail */

.dz-file-preview {
padding-top: 10px;
padding-left: 100px;
} /*controls container around thumbnail */

.dz-size {
width:1px;
height:1px;
color:white;
} /*controls size display */

.dz-filename {
width:1px;
height:1px;
color:white;
} /*controls name display */

.dz-success-mark {
width:1px;
height:1px;
color:white;
} /*controls name display */

.dz-error-mark {
width:1px;
height:1px;
color:white;
} /*controls name display */

.dz-error-message {
width:1px;
height:1px;
color:white;
} /*controls name display */


.needsclick span {
font-size: 15px;
font-weight: bold;
} /*controls text over btn*/

.btn-container button {
display: inline;
background-color: #116CD4;
border-radius: 70px;
width: 150px;
padding: 10px 10px 10px 10px; 
color: white;
} /*controls choose file button */