
/*inner container*/
div.container-2 {
  margin-left: 0px;
  background-color: white;
  font-size: 10px;
  width: 100%;
  height: fit-content;
} /* controls 
piece list container */


/*dropzone*/
.container-4 {
  border: 3px solid #116CD4;
  border-radius: 10px;
  width: 1200px;
  height: 250px;
  margin-left: 80px;
  margin-bottom: 60px;
  padding: 20px;
} /* controls 
boarder around dropzone */


h5 {
  margin-left: 80px; /* align w/ container-4 */
  margin-top: 50px;
  margin-bottom: 20px;
  font-family: sans-serif;
  font-size: 16px;
  color: #191847;
}

.dropzone {
  border: 1px solid #116CD4;
  border-radius: 10px;
  background-color:#EFF7FF;
  width: 820px;
  height: 200px;
  margin-left: 300px;
  font-family: sans-serif;
  font-size: 12px;
  font-weight: bolder;
  color: #191847; 

}



/* contents of container 2 */
div.form-group {
padding-left: 40px;
} /* controls all fields in form */


/* left col */

div.form-title {
margin-bottom: 0px;
} /* controls form title */

div.form-description {} /* controls form title */

div.form-artist {} /* controls form artist */

div.form-types {} /* controls form types */

div.form-medium {} /* controls form medium */

div.form-subject {} /* controls form subject */

div.form-location {} /* controls form location */

div.form-date {} /* controls form date */

div.form-visibility {} /* controls form available */

/* left col */


/* right col */

div.form-height {} /* controls form height */

div.form-width {} /* controls form width */

div.form-depth {} /* controls form depth */

div.form-dim {} /* controls form height */

div.form-availability {} /* controls form availability */

div.form-price {} /* controls form price */

div.form-tags {} /* controls form tags */

/* right col */


