{% extends "base_contacts.html" %}
{% load static %}

{% block content %}
<h1>Add Contact</h1>
<body>
<div class="row">
    <div class="container-content">
    <div class="img">
        <form method = "post" enctype="multipart/form-data"> 
        {% csrf_token %}
        {{ form.contact_image }}
    </div>
    <div class="col-md-8">
        <br>
        <br>
        <br>
        <div class="fieldWrapper">
            <label for="{{ form.first_name }}">Title</label>
            {{ form.first_name }}
        </div>
        <div class="fieldWrapper">
            {{ form.middle_name }}
            {{ form.last_name }}
        </div>
        <br>
        <br>
        <div class="fieldWrapper">
                <li>{{ form.job_title }}<li><br>
                <li>{{ form.company }}<li><br>
                <li>{{ form.email }}<li><br>
                <li>{{ form.phone_number }}<li><br>
            <br>
            <div class="row">
                {{ form.bio }}</br>
            </div>
        </div>
    </div>
    <div class="col-md-9">
        <div class="fieldWrapper">
            <div class="row">
                Dimensions
                <br>
                {{ form.notes }}
            </div>
        </div>
        <br>
        <br>
        {{ form.availability }} {{ form.price }}
        <br> 
        <br>
    </div>
    </div>
</div>
<button type="submit">Upload><a href="{% url 'contacts:contacts' %}"></a></button> 
</form> 
</body>
{% endblock %}
