{% extends 'base_schedule.html' %}

{% block title %}
Calendar
{% endblock %}

{% block content %}
{% load static %}
  <link rel="stylesheet" href="{% static 'schedule/calendar.css' %}">
  <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
<body>
	<div class="clearfix">
	<a class="btn btn-info left" href="{% url 'schedule:calendar' %}?{{ prev_month }}"> Previous Month </a>
	<a class="btn btn-info right" href="{% url 'schedule:calendar' %}?{{ next_month }}"> Next Month </a>
	<a class="btn btn-info right" href="{% url 'schedule:event-new' %}"> New Event </a>
</div>
<div class="cal">{{ calendar }}</div>

	
</body>
{% endblock %}
