.sidebar-nav {
    margin: 30px;
    padding-left: 15px
}

.container {
    padding: 20px 20px 20px 20px;
}

.col-md-8{
    float: left;
    width: 60%;
    padding: 10px 10px 10px;
}

.col-md-9{
    float: middle;
    width: 20%;
    padding: 10px 10px 10px 10px;
}

.col-md-10{
    float: right;
    width: 20%;
    padding: 10px 10px 10px 10px;
}


.column {
    float: left;
    width: 50%;
    padding: 10px;
  }
  
  /* Clear floats after the columns */
  .rowgrid:after {
    content: "";
    display: table;
    clear: both;
  }