{% extends 'base_pieces_in_use.html' %}

{% load static %}
{% load crispy_forms_tags %}
{% crispy form %}

{% block header %}
<link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">
<!-- custom css -->
<link rel="stylesheet" href="{% static 'pieces/base_pieces_header_IU.css' %}">

<div class="container-1">
    <div class="row">
      <h2>Add Piece</h2>
        <div class="views">
        </div>
        <div class="tag-filter">
        </div>
      </div>
    <div class="row">
      {#<a href='#' onclick='overlay()'>Click here to show the overlay</a>#}
    </div>
      <hr class="solid">
      <div class="divider">
      </div>
      <br>
      <p></p>
{% endblock %}

{% block content %}
{% load static %}
    <link href="//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext" rel="stylesheet" type="text/css">

    <!-- custom css & js -->
    <link rel="stylesheet" href="{% static 'pieces/base_pieces_piece_data_upload_IU.css' %}">
    <script src="{% static 'js_dzone/base_pieces_piece_only_WK_8921.js' %}" defer></script>

    <!-- test js -->
    <script src="{% static 'js_dzone/dzone_test.js' %}" defer></script>
    
    <!-- dropzone js  & css -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/min/dropzone.min.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/min/dropzone.min.js"></script>
    <script scr="/Volumes/Lexar/django/artindex/pieces/static/dropzone-5.7.0/dist/dropzone.js"></script>
    

    <div class="container-2" style="padding-top: 20px;">
      <h5><strong>Upload Image1 (My dropzone)</strong></h5>
        <div class="container-4">
          <div>
          <form id="upload-widget" method="post" action="upload/" class="dropzone dz">
            {% csrf_token %}
            <div class="fallback">
              <input name="file" type="file" />
            </div>
            <!-- this places text inside dropzone -->
            <DIV class="dz-message needsclick">    
              <span>Drag and drop your art here</span>
              <BR>
              <BR>
                <span>or</span>
              <BR>
              <BR>
              <BR>
                <!-- this redirects to 'upload/'-->
              <div class='btn-container'>
                <button class='btn start' type="submit">Choose a File</button>
              </div>
            </DIV>
          </form>
    
          <!-- Form -->
      
          <div>{% crispy example_form example_form.helper %}</div>
          
          <!-- Form -->

        </div>
      </div>
        </div>
        <BR>
      </div>

      <!-- if config previewsContainer = , displays image here -->
    <div class="dz-preview dz-file-preview">
      <div class="dz-details">
        <div class="dz-filename"><span data-dz-name></span></div>
        <div class="dz-size" data-dz-size>
          Size
        </div>
        <img data-dz-thumbnail />
      </div>
      <div class="dz-progress"><span class="dz-upload" data-dz-uploadprogress></span></div>
      <div class="dz-success-mark"><span>✔</span></div>
      <div class="dz-error-mark"><span>✘</span></div>
      <div class="dz-error-message"><span data-dz-errormessage></span></div>
    </div>
      <!-- -----  -->

    </div>
  </body>
{% endblock %}
