{% extends 'pieces/pieces_try_in_use.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% crispy form %}

{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/min/dropzone.min.css">

{% load static %}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/dropzone/5.5.1/min/dropzone.min.js"></script>
  <script scr="/Volumes/Lexar/django/artindex/pieces/static/dropzone-5.7.0/dist/dropzone.js"></script>

<div class="container-1">
    <div class="row">
        <div class="col" style="width: fit-content;"><h1>Add Piece</h1></div>
    </div>
    <hr class="solid">
    
    <div class="row">
      <div class="col-sm-1"></div>
      <div class="col-sm-1"></div>
      <div class="col-sm-1"></div>
      <div class="col-sm-1"></div>
      <div class="col-sm-1"></div>
    <br>
    <div class="container-2">
        <div class="container-4">
            <div class="col-md-12">
                <form action="/file-upload" class="dropzone">
                    {% csrf_token %}
                    <div class="fallback">
                        <input name="file" type="file" multiple />
                    </div>
                </form>
            </div>
        </div>  
    </div>
    {#<form id="id_new_upload_form" class="dropzone" method="POST" enctype="multipart/form-data">#}
    <form method="POST" enctype="multipart/form-data"> 
        {% csrf_token %}
        <div class="container-2">
            <div class="container-2">
                <div class="row">
                    <div class="col">
                        <div class="form-group">
                                {{ form.title|as_crispy_field }}
                        </div>
                        <div class="form-group">
                                {{ form.description|as_crispy_field }}
                        </div>
                        <div class="form-group">
                                {{ form.artist|as_crispy_field }}
                        </div>
                        <p></p>
                        <div class="form-group">
                                {{ form.types|as_crispy_field }}
                        </div>
                        <br>
                        <div class="form-group">
                                {{ form.medium|as_crispy_field }}
                        </div>
                        <div class="form-group">
                                {{ form.subject_matter|as_crispy_field }}
                        </div>
                        <div class="form-group">
                                {{ form.location|as_crispy_field }}
                        </div>
                        <div class="form-group">
                                {{ form.date_of_upload|as_crispy_field }}
                        </div> 
                        <div class="form-group">  
                            {{ form.visibility|as_crispy_field }} 
                        </div>
                    </div>
        
                    <div class="col">
                        <div class="form-row">
                            <div class="form-group col-sm-2 mb-0">
                                {{ form.height|as_crispy_field }}
                            </div>
                            <div class="form-group col-sm-2 mb-0">
                                {{ form.width|as_crispy_field }}
                            </div>
                            <div class="form-group col-sm-2 mb-0">
                                {{ form.depth|as_crispy_field }}
                            </div>
                            <div class="form-group col-sm-2 mb-0">
                                {{ form.dim|as_crispy_field }}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-6 mb-0">
                                {{ form.availability|as_crispy_field }}
                            </div>
                            <div class="form-group col-md-6 mb-0">
                                {{ form.price|as_crispy_field }}
                            </div> 
                        </div>  
                    </div>
                </div>
            </div>
        </div>
        <button type="submit" class="btn btn-primary">Submit<a href="{% url 'artwork:pieces' %}"></a></button>
    </form>
</div>
{% endblock %}