.container-1 {
    background-color: #F6F6FA;
    width: 985px;
    height: fit-content;
    margin-top: 60px;
    margin-right: 15px;
    font-family: Verdana;

}

/*details container*/
div.form-row {
    margin: auto;
}

div.form-group {
    margin: auto;
}


