{% load static %}
{% load svg %}
{% load crispy_forms_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
  <title>Art Index</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="{% static 'pieces/base_pieces_WK.css' %}">


  <!-- 8/23: part of tutorial for formset tutorial -->
  
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simplelightbox/2.7.0/simple-lightbox.css" integrity="sha512-8WAX0xL/cHZ38RXoX2gtuqkAwmDVAzGwoFVmHvn46IDHGWOjTHx0vcl9OapNrfOzpFtql0SNkv+0y0b5Fm8ZkA==" crossorigin="anonymous" />
  
  <!--------- end of formset tutorial --------->
    
  
  <script>
    function overlay() {
	el = document.getElementById("overlay");
	el.style.visibility = (el.style.visibility == "visible") ? "hidden" : "visible";}
  </script>
</head>

<body>
    <div class="container-fluid-1">
      <div class="row">
        <div class="containter-1">
          {% block sidebar %}
         
          <ul class="sidebar-nav">
            <h1><strong>Art-Index</strong></h1>
            <ul style='padding-bottom: 15px;'>{% svg 'nav-artwork' %}<a style="font-family:Arial, Helvetica, sans-serif; font-size: 14px;" href="{% url 'artwork:pieces' %}">Artwork</a></ul>
            <br>
            <ul style='padding-bottom: 15px; padding-left: 5px; align-content: center;'>{% svg 'nav-locations' %}<a style="font-family:Arial, Helvetica, sans-serif; font-size: 14px;">Location</a></ul>
            <br>
          <ul style='padding-bottom: 10px; padding-left: 20px; align-content: center'>{% svg 'nav-exhibitions' %}<a style="font-family:Arial, Helvetica, sans-serif; font-size: 14px;" href="">Exhibitions</a></ul>
            <br>
            <ul style='padding-bottom: 15px; padding-left: 10px; align-content: center'>{% svg 'nav-schedule' %}<a style="font-family:Arial, Helvetica, sans-serif; font-size: 14px;" href="{% url 'schedule:calendar' %}">Schedule</a></ul>
            <br>
            <ul style='padding-bottom: 15px; padding-left: 10px; align-content: center'>{% svg 'nav-contacts' %}<a style="font-family:Arial, Helvetica, sans-serif; font-size: 14px;" href="{% url 'contacts:contacts' %}">Contacts</a></ul>
            <br>
            <ul style='padding-bottom: 15px; padding-left: 0px;'>{% svg 'nav-income' %}<a style="font-family:Arial, Helvetica, sans-serif; font-size: 14px;" href="">Income</a></ul>
            <br>
            <ul style='padding-bottom: 15px; padding-left: 0px;'>{% svg 'nav-reports' %}<a style="font-family:Arial, Helvetica, sans-serif; font-size: 14px;" href="">Reports</a></ul>
            <br>
            <ul style='padding-bottom: 15px; padding-left: 2px;'>{% svg 'nav-my-docs' %}<a style="font-family:Arial, Helvetica, sans-serif; font-size: 14px;" href="">My Docs</a></ul>
            <br>
            <ul style='padding-bottom: 15px; padding-left: 5px;'>{% svg 'nav-insights' %}<a style="font-family:Arial, Helvetica, sans-serif; font-size: 14px;" href="">Insights</a></ul>
            <br>
            <br>
           
          {% endblock %}
          </ul>
        </div>
        
        <div class="col" id="wrapper-outer">
          <div class="container-2">
            {% block header %}
            {% endblock %}

            <div class="col" id="wrapper-inner">
              {% block content %}
              {% endblock %}
            </div>
          </div>
        </div> 
      </div>
    </div>
    <div class="clearer"></div>

    <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>
    
      {% block script %}
      {% endblock %}





  <!-- 8/23: part of tutorial for formset tutorial -->
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/simplelightbox/2.7.0/simple-lightbox.min.js" integrity="sha512-ZajFBgnksNp8Rj+AbmYe8ueOu45HiSjtf3QpqnRbHlq719m6VK0FkbYIqQ8wEnlVuJ1i9pC+z6Z9ewmDnUTMCg==" crossorigin="anonymous"></script>

  <script>
    var gallery = new SimpleLightbox('.photo_gallery a');
  </script>
  
  <!--------- end of formset tutorial --------->
  


  <!-- 9/26: SLB for uploadpiece -->
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/simplelightbox/2.7.0/simple-lightbox.min.js" integrity="sha512-ZajFBgnksNp8Rj+AbmYe8ueOu45HiSjtf3QpqnRbHlq719m6VK0FkbYIqQ8wEnlVuJ1i9pC+z6Z9ewmDnUTMCg==" crossorigin="anonymous"></script>

  <script>
    var gallery = new SimpleLightbox('.dz-file-preview a');
  </script>
  
  <!--------- end of SLB for uploadpiece --------->
  

  <!-- 10/12: SLB for test -->
  
  <script src="https://cdnjs.cloudflare.com/ajax/libs/simplelightbox/2.7.0/simple-lightbox.min.js" integrity="sha512-ZajFBgnksNp8Rj+AbmYe8ueOu45HiSjtf3QpqnRbHlq719m6VK0FkbYIqQ8wEnlVuJ1i9pC+z6Z9ewmDnUTMCg==" crossorigin="anonymous"></script>

  <script>
    var gallery = new SimpleLightbox('.upload_pic a');
  </script>
  
  <!--------- end of SLB for uploadpiece --------->
  
  
</body>
</html>