{% extends "base_pieces.html" %}
{% load static %}

{% block sidebar %}
  <ul class="sidebar-nav">
    <li><strong>Art Index</strong></li>
    </ul>
    <ul>
    <li><a href="">ArtWork</a></li>
    <li><a href="">Location</a></li>
    <li><a href="">Exhibitions</a></li>
    <li><a href="">Schedule</a></li>
    <li><a href="">Contacts</a></li>
    <li><a href="">Income</a></li>
    <li><a href="">Reports</a></li>
    <li><a href="">My Docs</a></li>
    <li><a href="">Insights</a></li>
  </ul>
{% endblock %}
 
